<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>

      <renderContentEditor>
        <processor type="Sitecore.Support.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Support.163859"
                    patch:instead = "processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderSkinedContentEditor, Sitecore.Client']"/>
        <processor type="Sitecore.Support.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Support.163859"
                   patch:instead = "processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client']"/>

      </renderContentEditor>

    </pipelines>

    <controlSources>
      <source mode="on" namespace="Sitecore.Support.Shell.Applications.ContentEditor" assembly="Sitecore.Support.163859" prefix="content" patch:after = "source[@folder = '/sitecore modules']"/>
    </controlSources>
    
  </sitecore>
</configuration>